<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>T></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="./css/main.css">
</head>

<body class="g-bg-dark">

    <div id="app">
        <audio src="" hidden></audio>
        <div class="container-fluid header sticky-top">
            <div class="row py-2 shadow g-bg-yellow g-text-dark align-items-center">
                <a href="./" class="col-1 text-decoration-none g-text-dark text-center">
                    <i class="lni-chevron-left font-weight-bold"></i>
                </a>
                <div class="col-10 text-center">
                    <span class="title">{{ page }}</span>
                </div>
            </div>
        </div>

        <div v-show="mode === 'test'" class="container-fluid">
            <div class="row justify-content-center align-items-center py-1 mt-3">
                <div v-for="(c, i) in words[category]" class="mx-1 px-1 py-1 rounded-circle"
                    v-bind:class="{ 'g-bg-yellow': test_finished_answers > i, 'bg-dark': test_finished_answers <= i }">
                </div>
            </div>

            <h1 class="g-text-yellow text-center mt-5">{{ question }}</h1>

            <div class="mt-5">
                <button v-on:click="select_answer" v-bind:target-lg="answer.tr" v-for="(answer, index) in answers"
                    class="btn btn-outline-dark g-text-yellow answer d-block mt-4 w-100 g-border-yellow text-left">{{ answer.en }}
                </button>
            </div>
            <button v-if="nextAnswer" v-on:click="refresh_answers()"
                class="btn btn-outline-dark g-text-yellow answer d-block mt-4 g-border-yellow ml-auto mr-auto w-50">Devam</button>

        </div>
        <div v-show="mode === 'tutorial'" class="tutorial">
            <div class="container-fluid">
                <div class="container">
                    <ul class="word-list list-unstyled">
                        <li v-for="(word, index) in words[param('category')]">
                            <div class="row align-items-center py-5">
                                <div class="row col-5 justify-content-center mr-auto">
                                    <span class="g-text-yellow font-weight-bold">{{ word.split('|')[1] }}</span>
                                </div>
                                <div class="row col-2 justify-content-center mr-auto cursor-pointer">
                                    <span v-on:click="speak(word.split('|')[1])" class="g-text-yellow cursor-pointer"><i
                                            class="lni-volume-high"></i></span>
                                </div>
                                <div class="row col-5 justify-content-center ml-auto">
                                    <span class="text-muted">{{ word.split('|')[0] }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-show="mode === ''" class="container-fluid text-white home">
            <div class="container">
                <h3 class="g-text-yellow mt-5">Öğretici</h3>
                <div v-for="(c, i) in Object.keys(words)" class="row flex-nowrap overflow-auto link-items pr-4 ml-5">
                    <a v-bind:href=`./?category=${c}?mode=tutorial` class="col-4 text-center g-text-yellow py-2">
                        <span>{{ c }}</span>
                    </a>
                </div>
                <h3 class="g-text-yellow mt-5">Test</h3>
                <div v-for="(c, i) in Object.keys(words)" class="row flex-nowrap overflow-auto link-items pr-4 ml-5">
                    <a v-bind:href=`./?category=${c}?mode=test` class="col-4 text-center g-text-yellow py-2">
                        <span>{{ c }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./scripts/index.js"></script>
</body>

</html>